@using localization.Models.Example;
@model ParameterViewModel

<!-- the id's are for tests so HtmlAgilityPack can find the elements easier. -->
<span id="parameter_index">@ViewData["index"]</span> - <span id="parameter_test">@ViewData["test"]</span>
<br />
Is post request: @ViewData["post"]
<br />
<h2>HTTP post request: </h2>
<form method="post" asp-action="Parameter" asp-controller="Example">
    <div>
        <label asp-for="Index"></label>
        <input asp-for="Index" />
        <br />
        <label asp-for="Test"></label>
        <input asp-for="Test" />
    </div>
    <br />
    <button type="submit">Post parameters</button>
</form>
